<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.decotuk_app_capstone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Decotuk_app_capstone">
        <activity
            android:name=".ui.profile.laporan.LaporanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.edit.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SpashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.record.NonCovidActivity"
            android:exported="false"
            android:theme="@style/Theme.Decotuk_app_capstone.NoActionBar" />
        <activity
            android:name=".ui.record.CovidPositifActivity"
            android:exported="false"
            android:theme="@style/Theme.Decotuk_app_capstone.NoActionBar" />
        <activity
            android:name=".ui.onboarding.OnBoardingTigaActivity"
            android:exported="false"
            android:theme="@style/Theme.Decotuk_app_capstone.NoActionBar" />
        <activity
            android:name=".ui.onboarding.OnBoardingDuaActivity"
            android:exported="false"
            android:theme="@style/Theme.Decotuk_app_capstone.NoActionBar" />
        <activity
            android:name=".ui.onboarding.OnBoardingSatuActivity"
            android:exported="false"
            android:theme="@style/Theme.Decotuk_app_capstone.NoActionBar" />
        <activity
            android:name=".ui.auth.signup.SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.Decotuk_app_capstone.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.login.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Decotuk_app_capstone.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>